/*
*  Metro styles
*  version: 1.0.0
*  author: TigerMehMat
*/

.m {

  /* Основные настройки */
  $default-color: #999;// Дефолтный цвет (если вдруг несуществующий цветовой класс)
  $size: 1.1em;// Размер основной визуализации
  $size-small: $size / 3;// Размер уменьшенной визуализации
  $m-right: .3em;// Отступ справа до текста
  $m-left: .5em;// Отступ слева
  $double-size: -1.1;// Fix для отображения "двойных" станций
  $double-size-small: $double-size * 1.3;// Fix для отображения миниатюрных "двойных" станций

  /* Номера станций и цвета в формате номер:цвет */
  $ms: (
    // Метро г. Москва
    1: #E82F2F,
    2: #3DB556,
    3: #0076C0,
    4: #29C4F0,
    5: #804000,
    6: #FF801F,
    7: #853892,
    8: #EFC000,
    9: #9F9F9A,
    10: #9FC000,
    11: #6FC0C7,
    12: #88ACDD,
    13: #477CB2,
    14: #FFA8AF,

    // Метро г. Минск
    /*
    'm1': #393184,
    'm2': #E31D2A,
    'm3': #009542
    */
  );


  &:before {// Основа, сам круг и логотип для г. Москва
    display: inline-block;
    background-color: $default-color;
    background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0MDAiIGhlaWdodD0iNDAwIiB2aWV3Qm94PSIwIDAgNDAwIDQwMCI+PHBhdGggZD0iTS4wNjMgMzM0Ljk5N2gxNDEuNzA4di0zNS42MTFoLTIyLjA0N2wyMS4xMDUtNTkuNDU2IDU5LjY5MyA5Ny44MjcgNTguNTMzLTk3LjI0NyAyMC44NjQgNTguODgxaC0yMS4yMTF2MzUuNDY4SDQwMHYtMzUuNTgzaC0yNy4yMzhsLTkzLjc3LTIzNy4wMzMtNzguODE4IDEzOC4yNzktNzguOTM0LTEzOC4yOC05My4zMDYgMjM3LjAzNEgweiIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg==');
    background-size: 65%;
    background-position: 50% 35%;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: $size;
    height: $size;
    margin-right: $m-right;
    margin-left: $m-left;
    content: '';
    vertical-align: bottom;
  }

  //Раскомментируйте код чтоб получить логотип метро г. Минск через класс .m_minsk
  /*
  &_minsk:before {
    background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0MDBtbSIgaGVpZ2h0PSI0MDBtbSIgdmlld0JveD0iMCAwIDQwMCA0MDAiPjxwYXRoIGQ9Ik0xOTkuNTkgMjk5LjQyOWwtNTUuMjAxLTU0LjcxSC43MzNWMTAwLjU3SDE1MC45NGw0OS4xNCA1MS4yNyA0Ny4wMTMtNTAuOTQyaDE1Mi4xNzN2MTQ0LjE0N0gyNTMuMzE4eiIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg==');
    background-position: 50% 60%;
  }
  */

  // Миниатюрный режим, только уменьшенная основа
  &_small:before {
    background-image: none;
    width: $size-small;
    height: $size-small;
  }

  // Режим для станции с двумя и более ветками, пример: <span class="m m_3"><span class="m m_4"><span class="m m_5">Киевская</span></span></span>
  &_double:before {
    background-image: none;
    margin-right: ($double-size*$size);
  }

  // Фикс отображения миниатюрная + нескольковеточная
  &_small.m_double:before {
  margin-right: ($double-size-small*$size-small);
  }

  // Цикл назначения цветов станциям
  @each $num, $color in $ms {
    &_#{$num}:before {
      background-color: $color;
    }
  }
}
